<% hidden_klass = question.hidden ? "question-hidden" : "question-visible" %>
<%= content_tag :div, class: ["mb-sm", hidden_klass] do %>
  <%= question.body %>
  <% end %>


<div class=" text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <% unless question.hidden %>
      <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: :put, title: "Hide question" %>
    <% end %>
    <%= link_to fa_icon("pencil"), edit_question_path(question), title: "Edit question" %>
    <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Delete question" %>
  </div>

</div>