<% hidden_klass = question.hidden ? "question-hidden" : "question-visible" %>
<%= content_tag :div, class: ["mb-sm", hidden_klass] do %>
  <%= simple_format h(question.body), {}, sanitize: true %>
    <div class="mt-sm text-sm text-grey">
      <% if question.author.nil?  %>
        <%= 'Question created by Anonymous' %>
      <% else %>
        <%= link_to "#{question.author.nickname}", user_path(question.author) %>
      <% end %>
    </div>
  <% end %>

  <% if question.answer.present? %>
    <div class="mb-sm text-dark-red">
      <%= question.answer %>
    </div>
  <% end %>

<div class=" text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% unless question.hidden %>
        <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: :put, title: "Hide question", class: "mr-sm" %>
      <% end %>
      <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Edit question", class: "mr-sm" %>
      <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Delete question" %>
  </div>
  <% end %>
</div>
