<div class="container">
  <h2 class="title-lg mb">Question <%=@question.id %></h2>

  <p><%= @question.body %></p>
  <p> user_id: <b><%= @question.user_id %></b></p>

  <div class="mt">
    <% unless @question.hidden %>
      <%= button_to fa_icon("eye-slash"), hide_question_path(@question), method: :put, title: "Hide question" %>
    <% end %>
    <%= link_to fa_icon("pencil"), edit_question_path(@question), title: "Edit question" %>
    <%= button_to fa_icon("trash-o"), question_path(@question), method: :delete, title: "Delete question" %>
  </div>

  <p class="mt"><%= link_to "Back to all questions", questions_path %></p>
</div>
